apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: esg-reporting

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres.yaml
  - redis.yaml
  - backend.yaml
  - frontend.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: esg-reporting
  app.kubernetes.io/part-of: esg-reporting-suite
